<template>
    <div id="notfications">
        <!-- METAMASK NOT FOUND  -->
        <b-toast
            id="metamaskFound"
            title="Metamask ikke funnet"
            static
            no-auto-hide
            variant="warning"
            :visible="metamaskNotFound"
        >Vi fant ikke metamask, vennligst installer.</b-toast>

        <b-modal
            modal-tall
            :visible="metamaskNotFound"
            :hide-footer="true"
            style="text-aling:center"
            size="xl"
        >
            <h5>Du må installere metamask for å bruke dette systemet.</h5>
            <b-embed type="iframe" aspect="16by9" src="https://metamask.io/" allowfullscreen></b-embed>
        </b-modal>
        <!-- METAMASK NOT FOUND  -->

        <!-- METAMASK CHOOSE NETWORK  -->
        <!-- HAD TO COMMENT OUT TOAST BECAUSE IT DOES NOT REACT TO CHANGE IN GETTER -->
        <!-- <b-toast
            id="metamaskChooseNetwork"
            title="Metamask nettverk"
            static
            no-auto-hide
            variant="warning"
            :visible="notDesiredNetwork"
        >Vi oppdaget at Metamask er koblet til feil nettverk. Bruk nettverk XXXX</b-toast>-->

        <b-modal :visible="notDesiredNetwork" :hide-footer="true" style="text-aling:center">
            <h5>Du må bruke Brønnøysund sitt Blockchain nettverk.</h5>
            <p>
                1. I Metamask, trykk på nettverksmenyen. Velg så
                <b>Custome RPC</b>
            </p>
            <b-img-lazy thumbnail fluid center :src="img.metamaskNetworkTab"></b-img-lazy>
            <p>
                2. I
                <b>Network name</b> skriver du Brreg (dette er hva DU ønsker å kalle nettverket)
            </p>
            <p>
                3. I
                <b>New RPC URL</b> skriver du
                <small>
                    <b>
                        <pre>http://ethjygmk4-dns-reg1.northeurope.cloudapp.azure.com:8540</pre>
                    </b>
                </small>
            </p>
        </b-modal>
        <!-- METAMASK CHOOSE NETWORK -->

        <!-- METAMASK GENERAL ERROR  -->
        <b-toast
            id="metamaskError"
            title="Metamask nettverk"
            static
            variant="danger"
            :visible="$store.state.metamask.error !== null"
        >{{$store.state.metamask.error}}</b-toast>
        <!-- METAMASK GENERAL ERROR  -->
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import metamaskNetworkTab from './../../assets/metamask_network_tab.jpeg'
export default {
    name: 'MetamaskNotfications',
    data() {
        return {
            img: {
                metamaskNetworkTab,
            },
        }
    },
    computed: {
        ...mapGetters({
            metamaskNotFound: 'metamask/metamaskNotFound',
            notDesiredNetwork: 'metamask/notDesiredNetwork',
        }),
    },
    created() {
        //console.log('created', this.metamaskNotFound)
    },
    mounted() {
        //console.log('mounted', this.metamaskNotFound)
    },
}
</script>

<style lang="scss" scoped>
#notfications {
    position: fixed;
    bottom: 15px;
    right: 10px;
}
</style>