<template>
    <div>
        <span v-if="name.length > 1" @click="$router.push('/entity/'+uuid)">{{ name }}</span>
    </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
export default {
    name: 'provider',
    created() {
        // console.log('Provider with accounts =>', this.$store.state.metamask.accounts.length)
    },
    watch: {
        account: function(val) {
            this.$store.dispatch('entity/setCurrentEntity', { address: val })
        },
        exist: function(val) {
            if (val === 2) {
                //this.$router.push('/entity/create')
            }
        },
    },
    computed: {
        ...mapGetters({
            account: 'metamask/currentAccount',
        }),
        ...mapState({
            exist: state => state.entity.exist,
            name: state => state.entity.name,
            uuid: state => state.entity.uuid,
        }),
    },
}
</script>

<style lang="scss" scoped>
</style>