<template>
    <b-container fluid>
        <b-row class="page-header">
            <h1>Dashboard</h1>
        </b-row>
        <b-row>
            <b-card-group deck>
                <b-card
                    title="Aksjeeierbokregisteret"
                    @click="$router.push('/RegistryOfCapTables')"
                    style="cursor:pointer"
                ></b-card>

                <b-card
                    title="Kø for aksjeeierbok"
                    @click="$router.push('/RegistryOfCapTablesQue')"
                    style="cursor:pointer"
                ></b-card>

                <b-card
                    title="Søk Enhetsregisteret"
                    @click="$router.push('/entity/list')"
                    style="cursor:pointer"
                ></b-card>
                <b-card title="Altinn" class="text-muted"></b-card>
                <b-card title="Skatt" class="text-muted"></b-card>
                <b-card
                    style="cursor:pointer"
                    @click="$router.push('/CapTable/create')"
                    title="Ny aksjeeierbok"
                ></b-card>
            </b-card-group>
        </b-row>
    </b-container>
</template>

<script>
export default {
    name: 'Dashboard',
    methods: {},
}
</script>

<style lang="scss" scoped>
</style>