<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand @click="$router.push('/')" style="cursor:pointer">Forvalter</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item
                        @click="navigate('https://blockchangers.github.io/brreg-docs/#brreg-cap-table-brregcaptable-developer-documentation')"
                        style="cursor: pointer"
                    >Dokumentasjon</b-nav-item>
                    <b-nav-item
                        @click="navigate('http://52.158.44.155:4000/')"
                        style="cursor: pointer"
                    >Blokkjede utforsker</b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown text="Enheter" right>
                        <b-dropdown-item href="#">Enhetsregisteret</b-dropdown-item>
                        <b-dropdown-item href="#">Altinn</b-dropdown-item>
                        <b-dropdown-item href="#">Skatt</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <!-- https://bootstrap-vue.js.org/docs -->
                    <b-nav-item>
                        <Provider/>
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>

<script>
import Provider from './util/provider.navbarItem'
export default {
    name: 'Navbar',
    components: { Provider },
    methods: {
        navigate(url) {
            window.open(url, '_blank')
        },
    },
}
</script>

<style scoped>
</style>