<template>
    <b-card class="m-3">
        <b-row>
            <b-col b-col md="6" offset-md="3">
                <b-input
                    v-model="name"
                    id="name"
                    size="sm"
                    class="my-3"
                    placeholder="Navn på selskapet"
                ></b-input>
                <b-row>
                    <b-col md="12">
                        <b-input
                            v-model="uuid"
                            id="uuid"
                            size="sm"
                            class="my-3"
                            placeholder="Unik identifikator..."
                        ></b-input>
                        <!-- <b-button
                            size="sm"
                            variant="info"
                            class="my-3"
                            :block="true"
                            @click="checkEntity"
                        >Check entity</b-button>-->
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="12">
                        <b-button variant="primary" @click="create" class="block">Lag aksjeeierbok</b-button>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-card>
</template>

<script>
export default {
    name: 'CapTable.create',
    data() {
        return {
            name: '',
            uuid: '',
            uuidExist: false,
        }
    },
    watch: {
        uuid(newValue, oldValue) {
            //this.checkEntity(newValue)
        },
    },
    methods: {
        async checkEntity() {
            try {
                const entity = await this.$store.dispatch('entity/getEntityByUuid', { uuid: this.uuid })
                this.uuidExist = true
            } catch (error) {
                console.log('entity does noe exist')
                this.uuidExist = false
            }
        },
        async create() {
            if (this.name === '') return
            if (this.uuid === '') return
            const entity = await this.$store.dispatch('capTable/createNew', { uuid: this.uuid, name: this.name })
        },
    },
}
</script>

<style lang="scss" scoped>
</style>