<template>
    <div>
        <b-card-group deck class="my-5">
            <b-card>
                <b-card-text>
                    <b-row>
                        <b-col cols="6" class="text-right">Name</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.name}}</b-col>

                        <b-col cols="6" class="text-right">Antall aksjer</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.totalSupply}}</b-col>

                        <b-col cols="6" class="text-right">Pålydende</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.denomination}}</b-col>

                        <b-col cols="6" class="text-right">Pålydende p/aksje</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.denominationPerShare}}</b-col>

                        <b-col cols="6" class="text-right">Skriverett</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.isController ? 'Ja': 'Nei'}}</b-col>
                    </b-row>
                </b-card-text>
            </b-card>
            <b-card>
                <b-card-text>
                    <b-row>
                        <b-col cols="6" class="text-right">Styreleder</b-col>
                        <b-col cols="6" class="font-weight-bold">{{capTable.director.name}}</b-col>
                    </b-row>
                </b-card-text>
            </b-card>
        </b-card-group>
    </div>
</template>

<script>
export default {
    name: 'CapTable.details',
    props: {
        capTable: {
            type: Object,
        },
    },
    data() {
        return {}
    },
    created() {
        //console.log('Created', this.capTable)
    },
}
</script>

<style lang="scss" scoped>
</style>