<template>
    <div v-if="transactions.length" class="my-5">
        <h5>Transactions for {{capTable.name}}</h5>
        <b-table striped hover small :items="transactions" :fields="fields" show-empty>
            <template slot="fromEntity" slot-scope="data">
                <b-link
                    v-if="data.item.fromEntity"
                    @click="$router.push('/entity/' + data.item.fromEntity.uuid)"
                >{{ data.item.fromEntity.name}}</b-link>
                <span v-else>-</span>
            </template>

            <template slot="toEntity" slot-scope="data">
                <b-link
                    v-if="data.item.toEntity"
                    @click="$router.push('/entity/' + data.item.toEntity.uuid)"
                >{{ data.item.toEntity.name}}</b-link>
                <span v-else>-</span>
            </template>

            <template slot="partition" slot-scope="data">
                <b-badge v-if="data.item.partition">{{ data.item.partition}}</b-badge>
            </template>

            <template slot="transactionHash" slot-scope="data">
                <b-link
                    v-if="data.item.transactionHash"
                    @click="navigate(data.item.transactionHash)"
                >{{ data.item.transactionHash.substring(0,5) + ".." + data.item.transactionHash.substring(data.item.transactionHash.length -3) }}</b-link>
                <span v-else>-</span>
            </template>

            <template slot="empty" slot-scope>
                <h5 class="m-5">Fant ingen transaksjoner hos {{ capTable.name }}</h5>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
    name: 'CapTableTransaction.list',
    data() {
        return {
            fields: {
                transactionType: {
                    label: 'Type',
                    sortable: true,
                },
                fromEntity: {
                    label: 'Fra',
                },
                toEntity: {
                    label: 'Til',
                },
                partition: {
                    label: 'Aksjeklasse',
                    sortable: true,
                },
                amount: {
                    label: 'Antall',
                },
                date: {
                    label: 'Dato',
                    sortable: true,
                    formatter(val) {
                        return val.toISOString().split('T')[0]
                    },
                },
                transactionHash: {
                    label: 'Kvittering',
                },
            },
        }
    },
    methods: {
        navigate(transactionHash) {
            window.location = 'http://52.158.44.155:4000/tx/' + transactionHash
        },
    },
    props: {
        transactions: {
            //
        },
        capTable: {
            //
        },
    },
}
</script>

<style lang="scss" scoped>
</style>