<template>
    <div>
        <b-card-group deck class="my-5">
            <b-card>
                <b-card-text>
                    <b-row>
                        <b-col cols="6" class="text-right">Kø nummer</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{que.queNumber}}</b-col>

                        <b-col cols="6" class="text-right">Venter prossessering</b-col>
                        <b-col
                            cols="6"
                            class="text-left font-weight-bold"
                        >{{que.isQued ? 'Ja' : 'Nei'}}</b-col>

                        <b-col cols="6" class="text-right">Prosesser</b-col>
                        <b-col cols="3" class="text-left">
                            <b-input v-model="reason" size="sm" placeholder="Årsak..."></b-input>
                        </b-col>
                        <b-col cols="3" class="text-left">
                            <b-button
                                size="sm"
                                variant="danger"
                                :block="false"
                                @click="processQue(false)"
                                class="mr-2"
                            >Avslå</b-button>
                            <b-button
                                size="sm"
                                variant="success"
                                :block="false"
                                @click="processQue(true)"
                                class="mr-2"
                            >Godkjenn</b-button>
                        </b-col>
                    </b-row>
                </b-card-text>
            </b-card>
        </b-card-group>
    </div>
</template>

<script>
export default {
    name: 'CapTableQue.details',
    props: {
        que: {
            type: Object,
        },
    },
    data() {
        return {
            reason: '',
        }
    },
    methods: {
        processQue(approved) {
            if (this.reason === '') {
                alert('Du må anngi en grunn')
                return
            }
            this.$store.dispatch('capTable/processQue', {
                id: this.que.address,
                approved,
                reason: this.reason,
            })
        },
    },
}
</script>

<style lang="scss" scoped>
</style>