<template>
    <div v-if="capTable.isController">
        <b-row>
            <b-col md="12">
                <h4>Utstede</h4>
            </b-col>
            <b-col md="4">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Til">
                    <b-form-input
                        id="issueTo"
                        placeholder="Til uuid..."
                        v-model="issueTo"
                        size="sm"
                        class="mt-2"
                    ></b-form-input>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Aksjeklasse">
                    <b-form-input
                        id="to"
                        placeholder="Aksjeklasse..."
                        v-model="issuePartition"
                        size="sm"
                        class="mt-2"
                    ></b-form-input>
                </b-form-group>
            </b-col>

            <b-col md="3">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Antall">
                    <b-form-input
                        type="number"
                        id="to"
                        placeholder="Beløp"
                        v-model="issueAmount"
                        size="sm"
                        class="mt-2"
                    ></b-form-input>
                </b-form-group>
            </b-col>

            <b-col md="1">
                <b-button variant="primary" size="sm" class="mt-2" @click="issue">Utsted</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col md="12">
                <h4>Autorativ overføring</h4>
            </b-col>
            <b-col md="4">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Fra">
                    <b-form-select
                        id="from"
                        value-field="uuid"
                        text-field="name"
                        v-model="from"
                        :options="shareholders"
                        size="sm"
                        class="mt-2"
                    ></b-form-select>
                </b-form-group>
            </b-col>
            <b-col md="4">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Til">
                    <b-form-input
                        id="to"
                        placeholder="Til uuid..."
                        v-model="to"
                        size="sm"
                        class="mt-2"
                    ></b-form-input>
                </b-form-group>
            </b-col>

            <b-col md="3">
                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="Antall">
                    <b-form-input
                        type="number"
                        id="to"
                        placeholder="Beløp"
                        v-model="amount"
                        size="sm"
                        class="mt-2"
                    ></b-form-input>
                </b-form-group>
            </b-col>

            <b-col md="1">
                <b-button variant="primary" size="sm" class="mt-2" @click="transfer">Overfør</b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
export default {
    name: 'OperatorTransfer',
    data() {
        return {
            from: '',
            to: '',
            amount: 0,
            issueTo: '',
            issueAmount: '',
            issuePartition: 'standard',
        }
    },
    props: {
        shareholders: {},
        capTable: {},
    },
    mounted() {
        console.log('Operator transfer shareholders : ', this.shareholders)
        console.log('Operator transfer capTable : ', this.capTable)
    },
    methods: {
        transfer() {
            this.$store.dispatch('capTable/operatorTransfer', { id: this.capTable.address, fromUuid: this.from, toUuid: this.to, amount: this.amount })
        },
        issue() {
            this.$store.dispatch('capTable/issue', { id: this.capTable.address, toUuid: this.issueTo, amount: this.issueAmount, partition: this.issuePartition })
        },
    },
}
</script>

<style lang="scss" scoped>
</style>