<template>
    <div>
        <b-table
            striped
            hover
            small
            :items="items"
            :fields="fields"
            @row-clicked="navigateShareholder"
            show-empty
        >
            <template slot="name" slot-scope="data">
                <b-link @click="$router.push('/entity/' + data.item.uuid)">{{data.item.name}}</b-link>
            </template>

            <template slot="streetAddress" slot-scope="data">
                <small>{{data.item.streetAddress}}</small>
            </template>

            <template slot="city" slot-scope="data">
                <small>{{data.item.city}}</small>
            </template>

            <template slot="empty" slot-scope>
                <h5 class="m-5">Ingen aksjonærer i boka.</h5>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
    name: 'Shareholder.list',
    props: {
        items: {
            //
        },
    },
    data() {
        return {
            fields: {
                name: {
                    label: 'Navn',
                    sortable: true,
                },
                streetAddress: {
                    label: 'Addresse',
                    sortable: true,
                },
                city: {
                    label: 'By',
                    sortable: true,
                },
                partition: {
                    label: 'Aksjeklasse',
                    sortable: true,
                },

                balance: {
                    label: 'Antall',
                    formatter(val) {
                        if (isNaN(val)) {
                            return 0
                        }
                        return val
                    },
                },
            },
        }
    },
    methods: {
        navigateShareholder(item, index) {
            this.$router.push('/entity/' + item.uuid)
        },
    },
}
</script>

<style lang="scss" scoped>
</style>