<template>
    <div>
        <b-table
            striped
            hover
            small
            :items="items"
            :fields="fields"
            @row-clicked="navigateShareholder"
            show-empty
        >
            <template slot="empty" slot-scope>
                <h5 class="m-5">Ingen aksjonærer i boka.</h5>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
    name: 'Transaction.list',
    props: {
        items: {
            //
        },
    },
    data() {
        return {
            fields: {
                shareHolder: {
                    label: 'Shreholder',
                    sortable: true,
                },
                shareClass: {
                    label: 'Klasse',
                    sortable: true,
                },
                value: {
                    label: 'Antall',
                },
            },
        }
    },
    methods: {
        navigateShareholder(index, item) {
            console.log('Go to shareholder', item)
        },
    },
    created() {
        console.log('Created ShareHolderList ', this.items)
    },
}
</script>

<style lang="scss" scoped>
</style>