<template>
    <div>
        <b-card-group deck class="my-5">
            <b-card>
                <b-card-text>
                    <b-row>
                        <b-col cols="6" class="text-right">Navn</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{entity.name}}</b-col>

                        <b-col cols="6" class="text-right">uuid</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{entity.uuid}}</b-col>

                        <b-col cols="6" class="text-right">Addresse</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{entity.streetAddress}}</b-col>

                        <b-col cols="6" class="text-right">By</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{entity.city}}</b-col>

                        <b-col cols="6" class="text-right">Blockchain addresse</b-col>
                        <b-col cols="6" class="text-left font-weight-bold">{{entity.address}}</b-col>

                        <b-col cols="6" class="text-right">Orginisasjon</b-col>
                        <b-col
                            cols="6"
                            class="text-left font-weight-bold"
                        >{{ ( entity.type === 'orginisasjon' ? 'Ja' : 'Nei')}}</b-col>
                    </b-row>
                </b-card-text>
            </b-card>
        </b-card-group>
    </div>
</template>

<script>
export default {
    name: 'Entity.details',
    props: {
        entity: {
            type: Object,
        },
    },
}
</script>

<style lang="scss" scoped>
</style>