<template>
    <b-card class="entity-create m-3">
        <b-row>
            <b-col md="6" offset-md="3">
                <b-input :value="address" id="address" size="sm" class="my-3"></b-input>
                <b-button
                    size="sm"
                    variant="primary"
                    :block="true"
                    @click="generateAddress"
                >Generer addresse</b-button>
                <b-input v-model="name" id="name" size="sm" class="my-3" placeholder="Navn..."></b-input>

                <b-input
                    v-model="uuid"
                    id="uuid"
                    size="sm"
                    class="my-3"
                    placeholder="Unik identifikator..."
                ></b-input>

                <b-form-select
                    v-model="type"
                    :options="['person', 'organization']"
                    size="sm"
                    class="mt-3"
                ></b-form-select>

                <b-input
                    v-model="streetAddress"
                    id="streetAddress"
                    size="sm"
                    class="my-3"
                    placeholder="Addresse..."
                ></b-input>

                <b-input
                    v-model="postalcode"
                    id="postalcode"
                    size="sm"
                    class="my-3"
                    placeholder="Postnummer..."
                ></b-input>

                <b-input v-model="city" id="city" size="sm" class="my-3" placeholder="By..."></b-input>

                <b-button variant="primary" @click="create">Lag enhet</b-button>
            </b-col>
        </b-row>
    </b-card>
</template>


<script>
import { mapGetters, mapState } from 'vuex'
export default {
    name: 'EntityCreate',
    data() {
        return {
            address: '',
            uuid: '',
            type: 'person',
            name: '',
            country: 'Norge',
            city: '',
            postalcode: '',
            streetAddress: '',
        }
    },
    watch: {
        account: function(val) {
            this.address = val
        },
    },
    computed: {
        ...mapGetters({
            account: 'metamask/currentAccount',
        }),
        ...mapState({
            exist: state => state.entity.exist,
            entityUuid: state => state.entity.uuid,
        }),
    },
    methods: {
        create() {
            this.$store.dispatch('entity/create', {
                address: this.address,
                uuid: this.uuid,
                type: this.type,
                name: this.name,
                country: this.country,
                city: this.city,
                postalcode: this.postalcode,
                streetAddress: this.streetAddress,
            })
        },
        async generateAddress() {
            this.address = await this.$store.dispatch('entity/generateAddress')
        },
    },
}
</script>

<style lang="scss" scoped>
</style>