<template>
    <div>
        <b-table
            striped
            hover
            small
            :items="capTables"
            :fields="fields"
            @row-clicked="navigateCapTable"
            style="cursor:pointer"
        >
            <template slot="actions" slot-scope="data">
                <b-button @click="navigateCapTable(data.item, data.index)">Detaljer</b-button>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
    name: 'RegistryOfCapTables.list',
    props: {
        capTables: {
            type: Array,
        },
    },
    data() {
        return {
            fields: {
                queNumber: {
                    label: 'Kø nummer',
                    sortable: true,
                },
                name: {
                    label: 'Company',
                    sortable: true,
                },
                totalSupply: {
                    label: 'Totalt antall',
                    sortable: true,
                },
                // address: {
                //     label: 'Blokkkjede addresse',
                //     formatter(val) {
                //         return val.substr(0, 4) + '....' + val.substr(val.length - 2)
                //     },
                // },
                isQued: {
                    label: 'Venter godkjennelse',
                    formatter(val) {
                        return val ? 'Ja' : 'Nei'
                    },
                    sortable: true,
                },
                director: {
                    label: 'Styreleder',
                    formatter(val) {
                        return (val && val.name) ? val.name : ""
                    },
                    sortable: true,
                },
                actions: {
                    label: 'Handlinger',
                },
            },
        }
    },
    methods: {
        navigateCapTable(item, index /* , event */) {
            this.$router.push('/CapTable/' + item.address)
        },
    },
}
</script>

<style lang="scss" scoped>
</style>