<template>
    <div>
        <b-table
            striped
            hover
            small
            :items="capTables"
            :fields="fields"
            @row-clicked="navigateCapTable"
            style="cursor:pointer"
        ></b-table>
    </div>
</template>

<script>
export default {
    name: 'RegistryOfCapTables.list',
    props: {
        capTables: {
            type: Array,
        },
    },
    data() {
        return {
            fields: {
                name: {
                    label: 'Company',
                    sortable: true,
                },
                totalSupply: {
                    label: 'Totalt antall',
                    sortable: true,
                },
                address: {
                    label: 'Blokkkjede addresse',
                    formatter(val) {
                        return val.substr(0, 4) + '....' + val.substr(val.length - 2)
                    },
                },
            },
        }
    },
    methods: {
        navigateCapTable(item, index /* , event */) {
            this.$router.push('/CapTable/' + item.address)
        },
    },
}
</script>

<style lang="scss" scoped>
</style>