<template>
    <div id="app">
        <Navbar/>
        <router-view class="m-5"/>
        <MetamaskNotifications/>
    </div>
</template>

<script>
// @ is an alias to /src
import Navbar from '@/components/Navbar.vue'
import MetamaskNotifications from './components/util/MetamaskNotifications'

export default {
    name: 'App',
    components: {
        Navbar,
        MetamaskNotifications,
    },
    created() {
        this.$store.dispatch('metamask/init')
    },
}
</script>


<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
</style>
