<template>
    <div class="cap-table-create">
        <CapTableCreate/>
        <EntityCreate/>
    </div>
</template>


<script>
import CapTableCreate from './../components/capTable/CapTable.create'
import EntityCreate from './../components/entity/Entity.create'
export default {
    name: 'CapTableCreateView',
    components: { CapTableCreate, EntityCreate },
}
</script>

<style lang="scss" scoped>
</style>