<template>
    <div class="RegistryOfCapTables">
        <div>
            <h1>Aksjeeierbok</h1>
        </div>
        <div>
            <CapTableDetails v-if="info" :capTable="info"/>
            <ShareholderList v-if="shareholders" :items="shareholders"/>
            <CapTableQue v-if="que && que.isQued" :que="que"/>
            <OperatorTransfer
                v-if="info && shareholders"
                :capTable="info"
                :shareholders="shareholders"
            />
            <CapTableTransaction
                v-if="info && transactions"
                :capTable="info"
                :transactions="transactions"
            />
        </div>
    </div>
</template>


<script>
import CapTableDetails from './../components/capTable/CapTable.details'
import ShareholderList from './../components/capTable/Shareholder.list'
import CapTableQue from './../components/capTable/CapTableQue.details'
import OperatorTransfer from './../components/capTable/OperatorTransfer'
import CapTableTransaction from './../components/capTable/CapTableTransaction.list'
import { mapState } from 'vuex'
export default {
    name: 'CapTableView',
    components: { CapTableDetails, ShareholderList, CapTableQue, OperatorTransfer, CapTableTransaction },
    data() {
        return {
            info: null,
            shareholders: null,
            que: null,
            transactions: null,
        }
    },
    computed: {
        ...mapState({
            //
        }),
    },
    beforeRouteUpdate(to, from, next) {
        console.log('to', to, 'from', from, 'next', next)
        // react to route changes...
        // don't forget to call next()
    },
    mounted() {
        this.loadCapTable(this.$route.params.id)
    },
    methods: {
        async loadCapTable(id) {
            this.info = await this.$store.dispatch('capTable/getInfo', { id: id })
            this.shareholders = await this.$store.dispatch('capTable/getShareholders', { id: id })
            this.que = await this.$store.dispatch('capTable/getQueInfo', { id: id })
            this.transactions = await this.$store.dispatch('capTable/getTransactions', { id: id })
        },
    },
}
</script>

<style lang="scss" scoped>
</style>