<template>
    <div class="entity-view">
        <div>
            <h1>Søk enhet</h1>
        </div>
        <div>
            <b-row>
                <b-col cols="12">
                    <label>
                        uuid or address
                        <b-spinner variant="success" label="Spinning" v-if="searching"></b-spinner>
                    </label>
                </b-col>
                <b-col cols="10">
                    <b-form-input
                        v-model="entityQuery"
                        @change="getUuid()"
                        placeholder="Tast inn uuid eller addresse"
                    ></b-form-input>
                </b-col>
                <b-col cols="2">
                    <b-button size variant="primary" :block="true">Søk</b-button>
                </b-col>
            </b-row>
            <EntityDetails
                v-if="entity"
                :class="searching ? 'bg-warning' : 'bg-success'"
                :entity="entity"
            />
            <b-card v-else class="mt-5">Resultatet kommer opp her..</b-card>
        </div>
    </div>
</template>


<script>
import EntityDetails from './../components/entity/Entity.details'
import { mapState } from 'vuex'
export default {
    name: 'EntityList',
    components: { EntityDetails },
    data() {
        return {
            entityQuery: '',
            entity: null,
            searching: false,
        }
    },
    computed: {
        ...mapState({
            //
        }),
    },
    beforeRouteUpdate(to, from, next) {
        console.log('to', to, 'from', from, 'next', next)
        // react to route changes...
        // don't forget to call next()
    },
    mounted() {},
    methods: {
        async getUuid() {
            this.searching = true
            if (this.entityQuery.substring(0, 2) === '0x') {
                this.entity = await this.$store.dispatch('entity/getEntityByAddress', { address: this.entityQuery })
            } else {
                this.entity = await this.$store.dispatch('entity/getEntityByUuid', { uuid: this.entityQuery })
            }
            this.searching = false
        },
    },
}
</script>

<style lang="scss" scoped>
</style>