<template>
    <div class="entity-view">
        <EntityCreate/>
    </div>
</template>


<script>
import { mapState } from 'vuex'
import EntityCreate from './../components/entity/Entity.create'
export default {
    name: 'EntityCreateView',
    components: {
        EntityCreate,
    },
    watch: {
        exist: function(val) {
            if (val === 1) {
                this.$router.push('/entity/' + this.entityUuid)
            }
        },
    },
    computed: {
        ...mapState({
            exist: state => state.entity.exist,
            entityUuid: state => state.entity.uuid,
        }),
    },
}
</script>

<style lang="scss" scoped>
</style>