<template>
    <div class="enrity-view">
        <div>
            <h1>Enhet</h1>
        </div>
        <div>
            <EntityDetails v-if="entity" :entity="entity"/>
            <div v-if="allTransactionsByCapTable">
                <CapTableTransaction
                    v-for="(capTableTransactions, index) of allTransactionsByCapTable"
                    :key="index"
                    :capTable="capTableTransactions.capTable"
                    :transactions="capTableTransactions.transactions"
                />
            </div>
        </div>
    </div>
</template>


<script>
import EntityDetails from './../components/entity/Entity.details'
import CapTableTransaction from './../components/capTable/CapTableTransaction.list'
import { mapState } from 'vuex'
export default {
    name: 'EntityView',
    components: { EntityDetails, CapTableTransaction },
    data() {
        return {
            entity: null,
            allTransactionsByCapTable: null,
        }
    },
    computed: {
        ...mapState({
            //
        }),
    },
    beforeRouteUpdate(to, from, next) {
        console.log('to', to, 'from', from, 'next', next)
        // react to route changes...
        // don't forget to call next()
    },
    mounted() {
        this.fetchData(this.$route.params.id)
    },
    methods: {
        async fetchData(uuid) {
            this.entity = await this.$store.dispatch('entity/getEntityByUuid', { uuid: uuid })
            this.allTransactionsByCapTable = await this.$store.dispatch('entity/allTransactionsByCapTable', { uuid: uuid })
        },
    },
}
</script>

<style lang="scss" scoped>
</style>