<template>
    <div class="RegistryOfCapTables">
        <div>
            <h1>Kø for aksjeeierbøker</h1>
        </div>
        <div>
            <RegistryOfCapTablesQue v-if="que" :capTables="que"/>
        </div>
        <div>
            <CapTableCreate/>
        </div>
    </div>
</template>


<script>
import RegistryOfCapTablesQue from './../components/registryOfCapTables/RegistryOfCapTablesQue.list'
import CapTableCreate from './../components/capTable/CapTable.create'
import { mapState } from 'vuex'
export default {
    name: 'RegistryOfCapTablesQue.view',
    components: { RegistryOfCapTablesQue, CapTableCreate },
    data() {
        return {
            que: null,
        }
    },
    mounted() {
        this.getQue()
    },
    methods: {
        async getQue() {
            this.que = await this.$store.dispatch('registryOfCapTablesQue/getQue')
        },
    },
}
</script>

<style lang="scss" scoped>
</style>