<template>
    <div class="RegistryOfCapTables">
        <div>
            <h1>Aksjeeierbokregisteret</h1>
        </div>
        <div>
            <RegistryOfCapTables v-if="capTablesList" :capTables="capTablesList"/>
        </div>
    </div>
</template>


<script>
import RegistryOfCapTables from './../components/registryOfCapTables/RegistryOfCapTables.list'
import { mapState } from 'vuex'
export default {
    name: 'RegistryOfCapTables.view',
    components: { RegistryOfCapTables },
    data() {
        return {
            capTablesList: null,
        }
    },
    mounted() {
        this.getCapTableList()
    },
    methods: {
        async getCapTableList() {
            this.capTablesList = await this.$store.dispatch('registryOfCapTables/getList')
        },
    },
}
</script>

<style lang="scss" scoped>
</style>